/.idea

/server/node_modules
/client/node_modules

/server/.env.development
/server/.env.production
/client/.env.development
/client/.env.production

/server/src/logs

/script
/server/scripts
/server/src/scripts
